.footer {
    background-color: #2f2f2f;
    &__logo {
        width: 105px;
        svg {
            width: 100%;
            height: auto;
        }
    }
    &__address {
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
        svg {
            margin-right: 17px;
        }
    }
    &__mail {
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
        svg {
            margin-right: 15px;
        }
        &:hover {
            color: #f6b900;
        }
    }
    &__phones {
        display: flex;
        align-items: center;
        svg {
            margin-right: 18px;
        }
        a {
            font-size: 18px;
            font-weight: 600;
            color: #ffffff;
            &:hover {
                color: #f6b900;
            }
        }
        i {
            width: 3px;
            height: 3px;
            background-color: #f6b900;
            margin-left: 20px;
            margin-right: 15px;
            display: block;
        }
    }
    &__whatsapp {
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        display: flex;
        align-items: center;
        svg {
            margin-right: 9px;
        }
        &:hover {
            color: #f6b900;
            path {
                fill: #f6b900;
            }
        }
    }
    &__instagram {
        width: 39px;
        height: 39px;
        background-color: #f6b900;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        font-size: 15px;
        font-weight: 700;
        color: #ffffff;
        position: absolute;
        top: 0;
        left: 0;
        svg {
            display: none;
        }
    }
    &__link {
        font-size: 13px;
        line-height: 18px;
        font-weight: 400;
        color: #c2c2c2;
        display: block;
        &:hover {
            color: #ffffff;
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__info {
        font-size: 10px;
        line-height: 16px;
        font-weight: 400;
        color: #909090;
    }
    &__privacy {
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: #949494;
    }
    &__by {
        font-size: 11px;
        font-weight: 400;
        color: #afafaf;
        a {
            color: #ededed;
            &:hover {
                color: #fff;
            }
        }
    }
}

.footer-top {
    background-color: #242424;
    &__inner {
        height: 98px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer-middle {
    padding: 30px 0 37px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__col {
        width: 240px;
        position: relative;
        padding-top: 40px;
    }
}

.footer-bottom {
    &__inner {
        padding: 23px 0 28px;
        border-top: 1px solid #515151;
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1200px) {
    .footer {
        &__logo {
            display: none;
        }
    }
    .footer-middle {
        &__col {
            width: 220px;
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {
        &__address {
            width: 100%;
            margin-bottom: 14px;
            font-size: 13px;
            svg {
                margin-right: 13px;
            }
        }
        &__phones {
            width: 100%;
            margin-bottom: 14px;
            svg {
                width: 11px;
                height: auto;
                margin-right: 11px;
            }
            a {
                font-size: 14px;
            }
            i {
                margin: 0 14px;
            }
        }
        &__whatsapp {
            width: 100%;
            padding-left: 24px;
            font-size: 11px;
        }
        &__instagram {
            order: 10;
            margin-left: 30px;
            margin-top: -3px;
            width: 33px;
            height: 33px;
            svg {
                width: 16px;
                height: auto;
            }
        }
        &__mail {
            font-size: 12px;
            margin-top: 18px;
            svg {
                margin-right: 11px;
            }
        }
        &__title {
            position: static;
            display: flex;
            align-items: center;
            font-size: 12px;
            cursor: pointer;
            svg {
                display: unset;
                margin-left: 15px;
                transform: rotate(90deg);
            }
        }
        &__title--active {
            color: #efc701;
            svg {
                transform: rotate(-90deg);
            }
        }
        &__link {
            font-size: 11px;
            line-height: 16px;
            margin-bottom: 12px;
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
        &__items {
            display: none;
            margin-top: 18px;
            &-catalog {
                display: none;
                // margin-top: 18px;
            }
            &-catalog--active {
                display: block;
            }
        }
        &__items--active {
            display: block;
        }
        &__info {
            font-size: 8px;
            line-height: 12px;
            br {
                display: none;
            }
        }
        &__privacy {
            font-size: 10px;
            margin-top: 10px;
            display: block;
        }
        &__by {
            font-size: 8px;
            margin-top: 15px;
        }
    }
    .footer-top {
        &__inner {
            flex-wrap: wrap;
            justify-content: flex-start;
            height: unset;
            padding: 25px 0;
        }
    }
    .footer-middle {
        padding: 18px 0;
        &__inner {
            display: block;
        }
        &__col {
            width: 100%;
            padding: 0;
            &:nth-child(1) {
                .footer__items-catalog {
                    margin-top: 18px;
                }
            }
            &:nth-child(4) {
                margin-top: 22px;
                .footer__link:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .footer-bottom {
        &__inner {
            padding: 15px 0 20px;
            display: block;
        }
    }
}